.a{
    color: white !important;
}

.hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid whitesmoke;
    margin: 1em 0;
    padding: 0; 
}

.list-group-item-light{
    color: black;
    background-color: #cec5b4fa;
    font-size: 30px;

}
.fa.fa-pencil{

    float: right;
    color: black;
}

.fa.fa-minus-circle{

    float: right;
    color: black;
}



