<header class="intro-header">

  
  <!--Intro Section-->
  <section class="view intro-2">
    <div class="full-bg-img mask rgba-gradient">
      <div class="container flex-center">
        <div class="d-flex align-items-center content-height w-100">
          <div class="row flex-center pt-5 mt-3 w-100">
            <div class="col-md-6 text-center text-md-left mb-5">
              <div class="white-text">
                <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Tu Garantía
                 </h2>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Contamos con el mejor equipo de profesionales 
                  largamente formados en el sector. La continua búsqueda de nuevos productos, 
                  así como la asistencia a las ferias y eventos más importantes de la industria 
                  de los dulces publicitarios dentro y fuera de España, garantizan siempre un producto actualizado.</h6>
                <br>
                <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                  mdbWavesEffect>Leer más</a>
              </div>
            </div>

            <div class="col-md-6 col-xl-5 offset-xl-1">
              <!--Form-->
              <div class="card wow fadeInRight" data-wow-delay="0.3s">
                <div class="card-body">
                    <form  #formRegister="ngForm" (ngSubmit)="onAddUser()">
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="white-text"><i class="fa fa-user white-text"></i> Registrate para disfrutar:</h3>
                    <hr class="hr-light">
                  </div>
                  <div class="md-form" >
                    <i class="fa fa-envelope prefix"></i>
                    <input mdbInputDirective  [(ngModel)]="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                     name="email" class="form-control" id="form9" required>
                    <label for="form9">E-mail</label>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input mdbInputDirective [(ngModel)]="pass" type="password" name="pass" pattern=".{5,10}" class="form-control" id="form10" required>
                    <label for="form10">Contraseña</label>
                  </div>

                  <div class="text-center">
                    <button mdbBtn color="indigo" type="submit" class="waves-light"  mdbWavesEffect >Iniciar</button>
                    <hr class="hr-light mb-3 mt-4">

                    <div class="inline-ul text-center d-flex justify-content-center">
                      <a class="icons-sm tw-ic px-4"><i class="fa fa-twitter white-text"></i></a>
                      <a class="icons-sm li-ic px-4"><i class="fa fa-linkedin white-text"> </i></a>
                      <a class="icons-sm ins-ic px-4"><i class="fa fa-instagram white-text"> </i></a>
                    </div>
                  </div>
                </form>

                </div>
              </div>
              <!--/.Form-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</header>