<header class="intro-header"  >
  
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <mdb-navbar-brand>
        <a class="logo navbar-brand waves-light" mdbWavesEffect><strong>ForEachFood</strong></a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" 
            mdbWavesEffect >
            <a class="nav-link" routerLink="">Inicio </a>
          </li>
          <li class="nav-item waves-light" *ngIf="isLogged" mdbWavesEffect>
            <a class="nav-link" routerLink="/add-dulce">Administrar Pasteleria</a>
          </li>
        </ul>
          <div class="nav-item waves-light" *ngIf="!isLogged" >
            <a class="nav-link" routerLink="/user/register" >Registrar</a>
            <a class="nav-link" routerLink="/user/login"  >Iniciar</a>
          </div>
          <div class="nav-item waves-light" *ngIf="isLogged" >
            <a class="nav-link" href="" (click)="onLogout()">Cerrar Sesión</a>
          </div>
       
      </links>
    </mdb-navbar>
  </header>