.addDulce{

    width: 1200px;
    color: white !important;
    padding-top: 150px;
    
    margin: auto;



}
.md-form label.active {

    color: white !important;
    font-size: 30px;
}

.md-form textarea.md-textarea{
    padding: 0 !important;
}

.md-form label{
 
    color: white !important;
    font-size: 30px;

}

.form-control{

    
    color: whitesmoke !important;
}

.boton{

    display: flex;
  justify-content: center;
}

.btn-outline-success{

    border: 2px solid whitesmoke !important;
    color: whitesmoke !important;
}
.txarea{
     font-size: 30px;
}